<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.dust.board.repository.BoardMapper">
    <insert id="save" useGeneratedKeys="true" keyProperty="boardId">
        insert into BOARD (sidoId, memberId, title, content)
        values (#{sidoId}, #{memberId}, #{title}, #{content});
    </insert>

    <update id="update">
        update BOARD
        set sidoId = #{sidoId},
            title = #{title},
            content = #{content}
        where boardId = #{boardId} and memberId = #{memberId};
    </update>

    <select id="findBoards" resultType="Board">
        select
            boardId,
            R.sidoId,
            sidoName,
            M.memberId,
            name,
            title,
            content,
            created_date
        from BOARD
                 join MEMBER M on M.memberId = BOARD.memberId
                 join REGION R on R.sidoId = BOARD.sidoId
        <where>
            <if test="sidoId != null and sidoId != ''">
                and R.sidoId = #{sidoId}
            </if>
            <if test="searchWord != null and searchWord != ''">
                <if test="searchType == 1">
                    and title like concat ('%', #{searchWord}, '%')
                </if>
                <if test="searchType == 2">
                    and content like concat ('%', #{searchWord}, '%')
                </if>
                <if test="searchType == 3">
                    and name like concat ('%', #{searchWord}, '%')
                </if>
                <if test="searchType == 4">
                    and title like concat ('%', #{searchWord}, '%') or content like concat ('%', #{searchWord}, '%')
                </if>
            </if>
        </where>
        order by boardId desc
            limit #{limit} offset #{offset};
    </select>

    <select id="findAllBoards" resultType="Board">
        select
        boardId,
        R.sidoId,
        sidoName,
        M.memberId,
        name,
        title,
        content,
        created_date
        from BOARD
        join MEMBER M on M.memberId = BOARD.memberId
        join REGION R on R.sidoId = BOARD.sidoId
        <where>
            <if test="sidoId != null and sidoId != ''">
                and R.sidoId = #{sidoId}
            </if>
            <if test="searchWord != null and searchWord != ''">
                <if test="searchType == 1">
                    and title like concat ('%', #{searchWord}, '%')
                </if>
                <if test="searchType == 2">
                    and content like concat ('%', #{searchWord}, '%')
                </if>
                <if test="searchType == 3">
                    and name like concat ('%', #{searchWord}, '%')
                </if>
                <if test="searchType == 4">
                    and title like concat ('%', #{searchWord}, '%') or content like concat ('%', #{searchWord}, '%')
                </if>
            </if>
        </where>
        order by boardId desc;
    </select>

    <select id="countAllBoards">
        select
            count(*)
        from BOARD
                 join MEMBER on MEMBER.memberId = BOARD.memberId
                 join REGION on REGION.sidoId = BOARD.sidoId
        <where>
            <if test="sidoId != null and sidoId != ''">
                and REGION.sidoId = #{sidoId}
            </if>
            <if test="searchWord != null and searchWord != ''">
                <if test="searchType == 1">
                    and title like concat ('%', #{searchWord},'%')
                </if>
                <if test="searchType == 2">
                    and content like concat ('%',  #{searchWord}, '%')
                </if>
                <if test="searchType == 3">
                    and name like concat ('%', #{searchWord}, '%')
                </if>
                <if test="searchType == 4">
                    and title like concat ('%', #{searchWord}, '%') or content like concat ('%', #{searchWord}, '%')
                </if>
            </if>
        </where>
    </select>

    <select id="findById" resultType="Board">
        select
            boardId,
            REGION.sidoId,
            sidoName,
            MEMBER.memberId,
            name,
            title,
            content,
            created_date
        from BOARD
                 join MEMBER on MEMBER.memberId = BOARD.memberId
                 join REGION on REGION.sidoId = BOARD.sidoId
        where boardId = #{boardId};
    </select>

    <select id="getSidoName">
        select sidoName
        from REGION
        where sidoId = #{sidoId};
    </select>

    <delete id="deleteById">
        delete from BOARD
        where boardId = #{boardId};
    </delete>

</mapper>