<!-- 검색 지역 정보 -->
<div th:fragment="loginRegion(dust)">
<span class="d-flex align-items-center">
            <i class="text-danger fa-solid fa-location-crosshairs" style="font-size: 2rem;"></i>
            <h3 id="sidoName" class="text-light ms-2" th:text="${dust.sidoName} + ' > '">서울</h3>
            <h3 id="stationName" class="text-light ms-2" th:text="${dust.stationName}">중구</h3>
    <!-- 즐겨찾기 아이콘 -->
            <i id="favoriteIcon" class="fa-heart fa-regular ms-3 text-danger btn"
               style="font-size: 1.5rem; outline: none;"></i>
            <div class="dropdown">
                <button class="btn btn-info dropdown-toggle btn-sm" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                    MY 관심지역
                </button>
                <button class="btn btn-secondary btn-sm" type="submit" th:onclick="|location.href='@{/board/list}'|">
                    게시판
                </button>
                <!-- 북마크 드롭다운 메뉴 -->
                <ul class="dropdown-menu" id="bookmarkDropdown">
                </ul>
            </div>
        </span>
    <h6 class="text-light mb-4 ms-5" th:text="${#temporals.format(dust.dataTime, '측정일시: yyyy-MM-dd a hh:mm')}">
        2024-10-14 오후 03:25</h6>
</div>