<!-- 로고 및 검색 폼 -->
<div th:fragment="searchHeader" class="d-flex align-items-center flex-grow-1">
    <a class="navbar-brand me-3" href="#!" th:href="@{/}">
        <img style="width: 120px; height: 50px;" src="/assets/img/today_dust_logo.png" alt="미세먼지 로고">
    </a>
    <form id="searchForm" class="d-flex align-items-center flex-grow-1" th:action="@{/search}" th:method="GET">
        <div class="input-group flex-nowrap position-relative">
            <label for="searchBox"></label>
            <input id="searchBox" class="form-control" name="searchWord" type="search"
                   placeholder="지역명 또는 측정소명을 검색해보세요!" autocomplete="off"
                   style="min-width: 300px; max-width: 500px; flex-grow: 1;">
            <button class="btn btn-primary" type="submit">
                <i class="fas fa-search"></i>
            </button>
            <div class="dropdown-menu" id="autocompleteDropdown"
                 style="position: absolute; top: 100%; left: 0; z-index: 1000; width: 500px;">
            </div>
        </div>
    </form>
</div>