<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/fragment/layout/base}"></head>
<body>
<!-- 상단 -->
<nav class="navbar bg-white bg-light static-top">
    <div class="container d-flex justify-content-between align-items-center flex-nowrap">
        <!-- 로고 및 검색 폼 -->
        <div th:replace="~{/fragment/header/searchHeader}"></div>
        <!-- 로그인 유저 -->
        <div th:replace="~{/fragment/header/loginHeader :: loginHeader(${member})}"></div>
    </div>
</nav>

<!-- Masthead-->
<header class="masthead" style="padding-bottom: 5rem; padding-top: 1rem;">
    <div th:replace="~{/fragment/section/boardDetail :: boardDetail(${board}, ${member})}"></div>
</header>


<!-- Footer-->
<footer th:replace="~{/fragment/footer/footer :: footer(${member})}"></footer>
<script th:replace="~{/fragment/script/searchDropdownScript}"></script>
</body>
</html>
