<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/fragment/layout/base}"></head>
<body>
<!-- 상단 -->
<nav class="navbar bg-white bg-light static-top">
    <div class="container d-flex justify-content-between align-items-center flex-nowrap">
        <!-- 로고 및 검색 폼 -->
        <div th:replace="~{/fragment/header/searchHeader}"></div>
        <!-- 비로그인 유저 -->
        <div th:replace="~{/fragment/header/guestHeader}"></div>
    </div>
</nav>

<!-- Masthead-->
<header class="masthead" style="padding-bottom: 5rem; padding-top: 5rem;">
    <div class="container position-relative">
        <table class="table table-hover table-secondary">
            <thead class="text-center">
                <tr>
                    <th>번호</th>
                    <th>제목</th>
                    <th>글쓴이</th>
                    <th>작성일</th>
                    <th>조회</th>
                    <th>추천</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                <tr th:each="board : ${boards}">
                    <td class="text-center" th:text="${board.boardId}"></td>
                    <td th:text="${board.title}"></td>
                    <td class="text-center" th:text="${board.name}"></td>
                    <td class="text-center">2024-11-12</td>
                    <td class="text-center">1,110</td>
                    <td class="text-center">2,432</td>
                </tr>
            </tbody>
        </table>
    </div>
</header>

<!-- Footer-->
<footer th:replace="~{/fragment/footer/footer :: footer(null)}"></footer>
<script th:replace="~{/fragment/script/searchDropdownScript}"></script>
</body>
</html>
