<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>오늘미세어때?</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="../assets/favicon.ico"/>
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet"
          type="text/css"/>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet"
          type="text/css"/>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/css/styles.css" rel="stylesheet"/>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/4add07bfb4.js" crossorigin="anonymous"></script>
</head>
<body>
<!-- 상단 -->
<nav class="navbar bg-white bg-light static-top">
    <div class="container d-flex justify-content-between align-items-center flex-nowrap">
        <!-- 로고 및 검색 폼 -->
        <div class="d-flex align-items-center flex-nowrap">
            <a class="navbar-brand me-3" href="#!" th:href="@{/}">
                <img style="width: 120px; height: 50px;" src="/assets/img/today_dust_logo.png" alt="미세먼지 로고">
            </a>
            <form id="searchForm" class="d-flex align-items-center flex-grow-1" th:action="@{/search}" th:method="GET">
                <div class="input-group flex-nowrap">
                    <input id="searchBox" class="form-control" name="searchWord" type="search"
                           placeholder="지역명 또는 측정소명을 검색해보세요!" autocomplete="off"
                           style="min-width: 400px; max-width: 500px; flex-grow: 1;">
                    <button class="btn btn-primary" type="submit">
                        <i class="fas fa-search"></i>
                    </button>
                    <div class="dropdown-menu w-100 position-absolute" id="autocompleteDropdown"
                         style="top: 100%; left: 0; z-index: 1000;">
                    </div>
                </div>
            </form>
        </div>
        <!-- 로그인 유저 -->
        <div th:if="${member} != null"class="d-flex align-items-center gap-2 flex-shrink-0">
            <span class="fs-5 fw-bold" th:text="|${member.name}님|"></span>
            <span class="fs-6" th:text="|(${member.loginId})|"></span>
            <form th:action="@{/logout}" method="POST">
                <button class="btn btn-dark btn-sm" type="submit" th:text="#{label.logout}">로그아웃</button>
            </form>
        </div>

        <!-- 비로그인 유저 -->
        <div th:if="${member} == null" class="d-flex align-items-center gap-2 flex-shrink-0">
            <a class="btn btn-outline-primary me-2" href="#login" th:href="@{/login}">로그인</a>
            <a class="btn btn-outline-primary" href="#signup" th:href="@{/members/add}">회원가입</a>
        </div>
    </div>
</nav>

<!-- Masthead-->
<header class="masthead" style="padding-bottom: 5rem; padding-top: 5rem;">
    <div class="container position-relative">

    </div>
</header>

<!-- Footer-->
<footer class="footer bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 h-100 text-center text-lg-start my-auto">
                <ul class="list-inline mb-2">
                    <li class="list-inline-item"><a href="#!">About</a></li>
                    <li class="list-inline-item">⋅</li>
                    <li class="list-inline-item"><a href="#!">Contact</a></li>
                    <li class="list-inline-item">⋅</li>
                    <li class="list-inline-item"><a href="#!">Terms of Use</a></li>
                    <li class="list-inline-item">⋅</li>
                    <li class="list-inline-item"><a href="#!">Privacy Policy</a></li>
                </ul>
                <p class="text-muted small mb-4 mb-lg-0">&copy; Your Website 2023. All Rights Reserved.</p>
            </div>
            <div class="col-lg-6 h-100 text-center text-lg-end my-auto">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item me-4">
                        <a href="#!"><i class="bi-facebook fs-3"></i></a>
                    </li>
                    <li class="list-inline-item me-4">
                        <a href="#!"><i class="bi-twitter fs-3"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#!"><i class="bi-instagram fs-3"></i></a>
                    </li>
                    <li th:if="${member} != null" class="list-inline-item align-items-center">
                        <form method="POST" th:action="@{/members/delete/{memberId}(memberId=${member.id})}">
                            <button type="submit" class="btn btn-secondary btn-sm" th:text="#{label.withdraw}">회원탈퇴
                            </button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>

</body>
</html>
