<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/fragment/layout/base}"></head>
<body>
<!-- 상단 -->
<nav class="navbar bg-white bg-light static-top">
    <div class="container d-flex justify-content-between align-items-center flex-nowrap">
        <!-- 로고 및 검색 폼 -->
        <div th:replace="~{/fragment/header/searchHeader}"></div>
        <!-- 로그인 유저 -->
        <div th:replace="~{/fragment/header/loginHeader :: loginHeader(${member})}"></div>
    </div>
</nav>

<!-- Masthead-->
<header class="masthead" style="padding-bottom: 5rem; padding-top: 2em;">
    <div class="container position-relative">
        <div class="d-flex justify-content-end mb-1">
            <button class="btn btn-sm btn-dark" type="button" th:onclick="|location.href='@{/board/add}'|">글쓰기</button>
        </div>
        <table class="table table-hover table-secondary">
            <thead class="text-center">
            <tr>
                <th>번호</th>
                <th>제목</th>
                <th>글쓴이</th>
                <th>작성일</th>
            </tr>
            </thead>
            <tbody class="table-group-divider">
            <tr th:each="board : ${boards.content}" th:onclick="|location.href='@{/board/detail/}' + ${board.boardId}|"
                style="cursor: pointer">
                <td class="text-center" th:text="${board.boardId}"></td>
                <td th:text="${board.title}"></td>
                <td class="text-center" th:text="${board.name}"></td>
                <td class="text-center" th:text="${#temporals.format(board.created_date, 'yyyy-MM-dd a hh:mm')}">
                    2024-11-12
                </td>
            </tr>
            </tbody>
        </table>
        <!-- Pagination -->
        <nav>
            <ul class="pagination justify-content-center">
                <li class="page-item" th:classappend="${boards.currentGroup <= 0} ? 'disabled'">
                    <a class="page-link" th:href="@{/board/search(page=${boards.startPage - 10}, searchType=${searchType}, searchWord=${searchWord})}">
                        이전
                    </a>
                </li>

                <li class="page-item" th:each="page : ${#numbers.sequence(boards.startPage, boards.endPage)}"
                    th:classappend="${page == boards.pageNumber} ? 'active'">
                    <a class="page-link" th:href="@{/board/search(page=${page}, searchType=${searchType}, searchWord=${searchWord})}" th:text="${page}">1</a>
                </li>

                <li class="page-item"
                    th:classappend="${boards.endPage >= boards.totalPages} ? 'disabled'">
                    <a class="page-link" th:href="@{/board/search(page=${boards.endPage + 1}, searchType=${searchType}, searchWord=${searchWord})}">
                        다음
                    </a>
                </li>
            </ul>
        </nav>
        <div style="display: flex; justify-content: center; align-items: center; height: 100%;">
            <form id="search-board" class="d-flex align-items-center" th:action="@{/board/search}" th:method="GET" style="gap: 10px;">
                <!-- 검색 조건 Select -->
                <label for="searchType">
                    <select class="form-select form-select-sm" id="searchType" name="searchType" style="width: 150px; height: 43px;">
                        <option value="1" selected>제목</option>
                        <option value="2">내용</option>
                        <option value="3">작성자</option>
                    </select>
                </label>

                <!-- 검색 Input + 버튼 -->
                <div class="input-group" style="flex-grow: 1; max-width: 300px; height: 43px;">
                    <label for="searchBox"></label>
                    <input id="searchBox" class="form-control form-control-sm"
                           name="searchWord" type="search" autocomplete="off"
                           style="height: 100%; border-radius: 0;">
                    <button class="btn btn-secondary" type="submit" style="height: 100%; border-radius: 0;">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>
</header>


<!-- Footer-->
<footer th:replace="~{/fragment/footer/footer :: footer(${member})}"></footer>
<script th:replace="~{/fragment/script/searchDropdownScript}"></script>
</body>
</html>
