<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.dust.dust.repository.DustMapper">
    <insert id="save">
        INSERT INTO DUST (stationId, sidoId, stationName, dataTime, pm10Value, pm25Value, no2Value)
        VALUES
        <foreach collection="list" item="dust" separator=",">
            (#{dust.stationId},
            #{dust.sidoId},
            #{dust.stationName},
            #{dust.dataTime},
            #{dust.pm10Value},
            #{dust.pm25Value},
            #{dust.no2Value})
        </foreach>
    </insert>

    <select id="searchDust" resultType="Dust">
        select stationName,
               sidoName,
               dataTime,
               pm10Value,
               pm25Value,
               no2Value
        from DUST
                 join REGION on REGION.sidoId = DUST.sidoId
        where stationName = #{stationName};
    </select>

    <select id="findStationNameByKeyword" resultType="String">
        select stationName
        from DUST
        where stationName like concat(#{keyword}, '%');
    </select>

    <update id="update" parameterType="List">

        <foreach collection="list" item="dust" separator=";">
            update DUST
            set dataTime = #{dust.dataTime},
                pm10Value = #{dust.pm10Value, jdbcType=INTEGER},
                pm25Value = #{dust.pm25Value, jdbcType=INTEGER},
                no2Value = #{dust.no2Value, jdbcType=DOUBLE}
            where stationName = #{dust.stationName}
        </foreach>
    </update>

    <select id="findAllSidoNames" resultType="map">
        select sidoId, sidoName
        from REGION;
    </select>

</mapper>