<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" />
</head>
<body>
<!--private String sidoName;    //시도명
    private String stationName; //측정소명
    private String dataTime;    //측정일시
    private Integer pm10Value;  //미세먼지(PM10 농도)
    private Integer pm25Value;  //미세먼지(PM25 농도)-->
<h1>미세먼지</h1>
<table class="table table-striped">
  <th>시도명</th>
  <th>측정소명</th>
  <th>측정일시</th>
  <th>미세먼지(PM10 농도)</th>
  <th>미세먼지(PM25 농도)</th>
  <tr th:each="dust : ${dustArr}">
    <td th:text="${dust.sidoName}">sidoName</td>
    <td th:text="${dust.stationName}">stationName</td>
    <td th:text="${dust.dataTime}">dataTime</td>
    <td th:text="${dust.pm10Value}">pm10Value</td>
    <td th:text="${dust.pm25Value}">pm25Value</td>
  </tr>
</table>
</body>
</html>