<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>오늘미세어때?</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="../assets/favicon.ico"/>
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet"
          type="text/css"/>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet"
          type="text/css"/>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/css/styles.css" rel="stylesheet"/>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/4add07bfb4.js" crossorigin="anonymous"></script>
</head>
<body>
<!-- 상단 -->
<nav class="navbar bg-white bg-light static-top">
    <div class="container d-flex justify-content-between align-items-center">
        <!-- 로고 및 검색 폼 -->
        <div class="d-flex">
            <a class="navbar-brand" href="#!" th:href="@{/}">
                <img class="align-items-center me-3" style="width: 120px; height: 50px;"
                     src="/assets/img/today_dust_logo.png" alt="미세먼지 로고">
            </a>
            <form id="searchForm" class="d-flex align-items-center" th:action="@{/search}" th:method="GET">
                <div class="input-group position-relative">
                    <input id="searchBox"  class="form-control" style="width: 500px" name="searchWord" type="search"
                           placeholder="지역명 또는 측정소명을 검색해보세요!" autocomplete="off">
                    <button class="btn btn-primary" type="submit">
                        <i class="fas fa-search"></i> <!-- Font Awesome 돋보기 아이콘 -->
                    </button>
                    <div class="dropdown-menu w-100 position-absolute" id="autocompleteDropdown" style="top: 100%; left: 0; z-index: 1000;">

                    </div>
                </div>
            </form>
        </div>
        <!-- 로그인 및 회원가입 -->
        <div class="d-flex">
            <a class="btn btn-outline-primary me-2 align-items-center" href="#login" th:href="@{/login}">로그인</a>
            <a class="btn btn-outline-primary align-items-center" href="#signup" th:href="@{/members/add}">회원가입</a>
        </div>
    </div>
</nav>

<!-- Masthead-->
<header class="masthead" style="padding-bottom: 5rem; padding-top: 5rem;">
    <div class="container position-relative">
        <!-- 검색 지역 정보 -->
        <span class="d-flex align-items-center">
            <i class="text-danger fa-solid fa-location-crosshairs" style="font-size: 2rem;"></i>
            <h3 class="text-light ms-2" th:text="${dust.sidoName} + ' > ' + ${dust.stationName}">수지구 풍덕천1동</h3>
        </span>
        <h6 class="text-light mb-4 ms-5" th:text="${#temporals.format(dust.dataTime, 'yyyy-MM-dd a hh:mm')}">2024-10-14
            오후 03:25</h6>

        <!-- 대기오염 카드 -->
        <div class="d-flex justify-content-evenly">
            <!-- 미세먼지 카드 -->
            <div class="card w-25 text-bg-primary" th:classappend=
                    "${dust.pm10Value > 150} ? 'text-bg-dark' :
                    (${dust.pm10Value > 80} ? 'text-bg-danger' :
                    (${dust.pm10Value > 30} ? 'text-bg-success' :
                    (${dust.pm10Value >= 0} ? 'text-bg-primary' : 'text-bg-secondary')))">
                <div class="card-body d-flex flex-column justify-content-center align-items-center">
                    <h4>미세먼지</h4>
                    <th:block th:if="${dust.pm10Value >= 0} and ${dust.pm10Value <= 30}">
                        <p class="card-text"><i class="fa-solid fa-face-laugh-squint mb-1" style="font-size: 100px"></i>
                        </p>
                        <h2 class="card-text" th:text="#{label.dust.good}">좋음</h2>
                        <p class="card-text" th:text="${dust.pm10Value} + '㎍/㎥'">18㎍/㎥</p>
                        <p class="card-text" th:text="#{label.dust.good.comment}">멘트</p>
                    </th:block>
                    <th:block th:if="${dust.pm10Value > 30} and ${dust.pm10Value <= 80}">
                        <p class="card-text"><i class="fa-solid fa-face-meh mb-1" style="font-size: 100px"></i></p>
                        <h2 class="card-text" th:text="#{label.dust.moderate}">보통</h2>
                        <p class="card-text" th:text="${dust.pm10Value} + '㎍/㎥'">48㎍/㎥</p>
                        <p class="card-text" th:text="#{label.dust.moderate.comment}">멘트</p>
                    </th:block>
                    <th:block th:if="${dust.pm10Value > 80} and ${dust.pm10Value <= 150}">
                        <p><i class="fa-solid fa-face-tired mb-1" style="font-size: 100px"></i></p>
                        <h2 class="card-text" th:text="#{label.dust.unhealthy}">나쁨</h2>
                        <p class="card-text" th:text="${dust.pm10Value} + '㎍/㎥'">88㎍/㎥</p>
                        <p class="card-text" th:text="#{label.dust.unhealthy.comment}">멘트</p>
                    </th:block>
                    <th:block th:if="${dust.pm10Value > 150}">
                        <p><i class="fa-solid fa-face-dizzy mb-1" style="font-size: 100px"></i></p>
                        <h2 class="card-text" th:text="#{label.dust.hazardous}">매우나쁨</h2>
                        <p class="card-text" th:text="${dust.pm10Value} + '㎍/㎥'">158㎍/㎥</p>
                        <p class="card-text" th:text="#{label.dust.hazardous.comment}">멘트</p>
                    </th:block>
                    <th:block th:if="${dust.pm10Value == null}">
                        <p class="card-text"><i class="fa-solid fa-face-flushed mb-1" style="font-size: 100px"></i>
                        <h2 class="card-text" th:text="#{label.dust.null}">점검중</h2>
                        <p class="card-text" th:text="${dust.pm10Value}?:'--' + '㎍/㎥'">18㎍/㎥</p>
                        <p class="card-text">--</p>
                    </th:block>
                </div>
            </div>
            <!-- 초미세먼지 카드 -->
            <div class="card w-25 text-bg-primary" th:classappend=
                    "${dust.pm25Value > 75} ? 'text-bg-dark' :
                    (${dust.pm25Value > 35} ? 'text-bg-danger' :
                    (${dust.pm25Value > 15} ? 'text-bg-success' :
                    (${dust.pm25Value >= 0} ? 'text-bg-primary' : 'text-bg-secondary')))">
                <div class="card-body d-flex flex-column justify-content-center align-items-center">
                    <h4>초미세먼지</h4>
                    <th:block th:if="${dust.pm25Value >= 0} and ${dust.pm25Value <= 15}">
                        <p class="card-text"><i class="fa-solid fa-face-laugh-squint mb-1" style="font-size: 100px"></i>
                        </p>
                        <h2 class="card-text" th:text="#{label.dust.good}">좋음</h2>
                        <p class="card-text" th:text="${dust.pm25Value} + '㎍/㎥'">18㎍/㎥</p>
                        <p class="card-text" th:text="#{label.dust.good.comment}">멘트</p>
                    </th:block>
                    <th:block th:if="${dust.pm25Value > 15} and ${dust.pm25Value <= 35}">
                        <p class="card-text"><i class="fa-solid fa-face-meh mb-1" style="font-size: 100px"></i></p>
                        <h2 class="card-text" th:text="#{label.dust.moderate}">보통</h2>
                        <p class="card-text" th:text="${dust.pm25Value} + '㎍/㎥'">48㎍/㎥</p>
                        <p class="card-text" th:text="#{label.dust.moderate.comment}">멘트</p>
                    </th:block>
                    <th:block th:if="${dust.pm25Value > 35} and ${dust.pm25Value <= 75}">
                        <p><i class="fa-solid fa-face-tired mb-1" style="font-size: 100px"></i></p>
                        <h2 class="card-text" th:text="#{label.dust.unhealthy}">나쁨</h2>
                        <p class="card-text" th:text="${dust.pm25Value} + '㎍/㎥'">88㎍/㎥</p>
                        <p class="card-text" th:text="#{label.dust.unhealthy.comment}">멘트</p>
                    </th:block>
                    <th:block th:if="${dust.pm25Value > 75}">
                        <p><i class="fa-solid fa-face-dizzy mb-1" style="font-size: 100px"></i></p>
                        <h2 class="card-text" th:text="#{label.dust.hazardous}">매우나쁨</h2>
                        <p class="card-text" th:text="${dust.pm25Value} + '㎍/㎥'">158㎍/㎥</p>
                        <p class="card-text" th:text="#{label.dust.hazardous.comment}">멘트</p>
                    </th:block>
                    <th:block th:if="${dust.pm25Value == null}">
                        <p class="card-text"><i class="fa-solid fa-face-flushed mb-1" style="font-size: 100px"></i>
                        <h2 class="card-text" th:text="#{label.dust.null}">점검중</h2>
                        <p class="card-text" th:text="${dust.pm25Value}?:'--' + '㎍/㎥'">18㎍/㎥</p>
                        <p class="card-text">--</p>
                    </th:block>
                </div>
            </div>
            <!-- 이산화질소 카드 -->
            <div class="card w-25 text-bg-primary" th:classappend=
                    "${dust.no2Value > 0.15} ? 'text-bg-dark' :
                    (${dust.no2Value > 0.09} ? 'text-bg-danger' :
                    (${dust.no2Value > 0.03} ? 'text-bg-success' :
                    (${dust.no2Value >= 0} ? 'text-bg-primary' : 'text-bg-secondary')))">
                <div class="card-body d-flex flex-column justify-content-center align-items-center">
                    <h4>이산화질소</h4>
                    <th:block th:if="${dust.no2Value >= 0} and ${dust.no2Value <= 0.03}">
                        <p class="card-text"><i class="fa-solid fa-face-laugh-squint mb-1" style="font-size: 100px"></i>
                        </p>
                        <h2 class="card-text" th:text="#{label.dust.good}">좋음</h2>
                        <p class="card-text" th:text="${dust.no2Value} + 'ppm'">0.01ppm</p>
                        <p class="card-text" th:text="#{label.dust.good.comment}">멘트</p>
                    </th:block>
                    <th:block th:if="${dust.no2Value > 0.03} and ${dust.no2Value <= 0.09}">
                        <p class="card-text"><i class="fa-solid fa-face-meh mb-1" style="font-size: 100px"></i></p>
                        <h2 class="card-text" th:text="#{label.dust.moderate}">보통</h2>
                        <p class="card-text" th:text="${dust.no2Value} + 'ppm'">0.04ppm</p>
                        <p class="card-text" th:text="#{label.dust.moderate.comment}">멘트</p>
                    </th:block>
                    <th:block th:if="${dust.no2Value > 0.09} and ${dust.no2Value <= 0.15}">
                        <p><i class="fa-solid fa-face-tired mb-1" style="font-size: 100px"></i></p>
                        <h2 class="card-text" th:text="#{label.dust.unhealthy}">나쁨</h2>
                        <p class="card-text" th:text="${dust.no2Value} + 'ppm'">0.1ppm</p>
                        <p class="card-text" th:text="#{label.dust.unhealthy.comment}">멘트</p>
                    </th:block>
                    <th:block th:if="${dust.no2Value > 0.15}">
                        <p><i class="fa-solid fa-face-dizzy mb-1" style="font-size: 100px"></i></p>
                        <h2 class="card-text" th:text="#{label.dust.hazardous}">매우나쁨</h2>
                        <p class="card-text" th:text="${dust.no2Value} + 'ppm'">0.16ppm</p>
                        <p class="card-text" th:text="#{label.dust.hazardous.comment}">멘트</p>
                    </th:block>
                    <th:block th:if="${dust.no2Value == null}">
                        <p class="card-text"><i class="fa-solid fa-face-flushed mb-1" style="font-size: 100px"></i>
                        <h2 class="card-text" th:text="#{label.dust.null}">점검중</h2>
                        <p class="card-text" th:text="${dust.no2Value}?:'--' + 'ppm'">0.18ppm</p>
                        <p class="card-text">--</p>
                    </th:block>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Footer-->
<footer class="footer bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 h-100 text-center text-lg-start my-auto">
                <ul class="list-inline mb-2">
                    <li class="list-inline-item"><a href="#!">About</a></li>
                    <li class="list-inline-item">⋅</li>
                    <li class="list-inline-item"><a href="#!">Contact</a></li>
                    <li class="list-inline-item">⋅</li>
                    <li class="list-inline-item"><a href="#!">Terms of Use</a></li>
                    <li class="list-inline-item">⋅</li>
                    <li class="list-inline-item"><a href="#!">Privacy Policy</a></li>
                </ul>
                <p class="text-muted small mb-4 mb-lg-0">&copy; Your Website 2023. All Rights Reserved.</p>
            </div>
            <div class="col-lg-6 h-100 text-center text-lg-end my-auto">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item me-4">
                        <a href="#!"><i class="bi-facebook fs-3"></i></a>
                    </li>
                    <li class="list-inline-item me-4">
                        <a href="#!"><i class="bi-twitter fs-3"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#!"><i class="bi-instagram fs-3"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<script>
    // 사용자가 입력 필드에 키보드를 입력할 때(input 이벤트) 실행되는 이벤트 리스너
    document.getElementById('searchBox').addEventListener('input', function () {

        // 입력 필드에 사용자가 입력한 값
        const searchWord = this.value;

        // 검색어의 길이가 0보다 클때
        if (searchWord.length > 0) {
            // 자바스크립트의 fetch API를 사용, AJAX 요청을 서버로 보냄
            fetch(`/searchStations?stationName=${searchWord}`)
                // 서버에서 JSON으로 변환 가능한 데이터를 받을 경우, 자바스크립트 객체로 변환
                .then(response => response.json())
                // JSON으로 변환된 데이터를 가지고 드롭다운 메뉴에 항목을 추가하는 로직
                .then(data => {
                    // 드롭다운 메뉴로 사용할 div 요소를 가져오기
                    let dropdown = document.getElementById('autocompleteDropdown');
                    dropdown.innerHTML = '';  // 기존 항목 초기화
                    //서버로부터 받은 측정소 이름 목록이 0보다 큰지 확인
                    if (data.length > 0) {
                        // 검색 결과 배열(data)에서 각 측정소 이름을 반복 처리
                        data.forEach(station => {
                            //새로운 li 태그를 만듦
                            let item = document.createElement('a');
                            item.classList.add('dropdown-item');
                            item.textContent = station;
                            item.style.cursor='pointer'; // 클릭 가능한 포인터
                            item.addEventListener('click', function () {
                                document.getElementById('searchBox').value = station;
                                dropdown.classList.remove('show');
                                document.getElementById('searchForm').submit();
                            });
                            dropdown.appendChild(item);
                        });
                        dropdown.classList.add('show');  // 드롭다운 표시
                    } else {
                        dropdown.classList.remove('show');
                    }
                });
        } else {
            //검색어의 길이가 0보다 작을 때는 드롭다운 표시 X
            document.getElementById('autocompleteDropdown').classList.remove('show');
        }
    });

    //다른 곳을 클릭했을 때 드롭다운 박스를 닫기 위한 이벤트 리스너
    document.addEventListener('click', function (event) {
      let dropdown = document.getElementById('autocompleteDropdown');
      let searchBox = document.getElementById('stationSearch');

      //클릭한 요소가 검색창이나 드롭다운 항목이 아니면 드롭다운 닫기,
        if (!dropdown.contains(event.target) && event.target !== searchBox) {
            dropdown.classList.remove('show');
        }
    })
</script>
</body>
</html>
